version: '3.8'

services:
  backend:
    container_name: whatsapp_api_backend
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      # - API_KEY=your_global_api_key_here  # OPTIONAL
      - BASE_WEBHOOK_URL=http://localhost:3000/localCallbackExample
      - ENABLE_LOCAL_CALLBACK_EXAMPLE=TRUE
      - MAX_ATTACHMENT_SIZE=5000000
      # - SET_MESSAGES_AS_SEEN=TRUE # OPTIONAL
      - DISABLED_CALLBACKS=message_ack|message_reaction
      - ENABLE_SWAGGER_ENDPOINT=TRUE
      # - RATE_LIMIT_MAX=1000
      # - RATE_LIMIT_WINDOW_MS=1000
      # - WEB_VERSION=2.2328.5
      # - WEB_VERSION_CACHE_TYPE=none
      # - RECOVER_SESSIONS=TRUE
    volumes:
      - ./sessions:/usr/src/app/sessions
    networks:
      - whatsapp-network

  frontend:
    container_name: whatsapp_dashboard_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5173:3001"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    networks:
      - whatsapp-network

networks:
  whatsapp-network:
    driver: bridge
